{% extends 'base.html' %} {% block content %} {% load static %}

<main>
  <div class="container">
    <section class="carta-transparente text-light">
      <h1 class="display-1 text-center">Gestión de Tareas</h1>
      <br>
      <p align = "justify">Bienvenido al gestor de tareas de nuestra empresa de desarrollo de software. Estamos encantados de contar contigo como parte de nuestro equipo y confiamos en que esta herramienta te ayudará a organizar y gestionar tus tareas de manera más eficiente.
      </p>
      
      <p align = "justify">Sabemos que en el mundo del desarrollo la gestión del tiempo y la coordinación son clave para el éxito de nuestros proyectos. Es por ello que brindamos a todos nuestros empleados y colaboradores este sistema digital para gestionar tu agenda laboral. El gestor de tareas DarkCode está diseñado para mantener un seguimiento detallado de tus proyectos o tareas pendientes y/o realizadas. En el mismo, podrás crear, modificar y guardar tu lista de actividades como así también podrás ingresar al sistema para mantenerte informado sobre asignaciones realizadas por tus superiores. Dicha agenda será una lista de tus responsabilidades, plazos y prioridades de todos los proyectos sobre los que estés trabajando, para asegurarte de cumplir con los objetivos establecidos.
      </p>
      
      <p align = "justify">Si tienes alguna pregunta o necesitas ayuda con el gestor de tareas, no dudes en ponerte en contacto con nuestro equipo de soporte. Estamos aquí para ayudarte en todo momento. Bienvenidos y adelante sin miedo al éxito.
      </p>
      <br>
    </section>
  
    <div class="container-sm">
        {% for video in videos %}
      <div class="ratio ratio-16x9">
        <video src="{{video.video_file.url}}" autoplay controls controlslist="nodownload"></video>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
