{% extends "base.html" %}

{% block content %}
<main align = "justify" class="my-4">
  <div class="container text-light">
    <div class="carta-transparente text-light">
        <h2>¿Quiénes somos?</h1>
          <br>
            <p>
              DarkCode Soft es una empresa dedicada al desarrollo de código innovador. Su principal enfoque es crear soluciones tecnológicas avanzadas para satisfacer las necesidades cambiantes del mercado. La empresa se destaca por tener un equipo de desarrolladores altamente exigentes y comprometidos con la excelencia en cada proyecto que emprenden.
            </p>
            <p>
              El objetivo principal de DarkCode Soft es proporcionar a sus clientes soluciones de software de vanguardia que sean eficientes, seguras y atractivas visualmente. La empresa se esfuerza por estar a la vanguardia de las últimas tendencias y avances tecnológicos, lo que les permite crear códigos innovadores que marcan la diferencia en el mercado.
            </p>
            <p>
              Un elemento clave que distingue a DarkCode Soft es el excelente trato que brinda a sus miembros. La empresa valora y fomenta un ambiente de trabajo positivo y colaborativo, donde cada miembro del equipo se siente valorado y apoyado. Se promueve la comunicación abierta, el trabajo en equipo y el aprendizaje continuo.
            </p>
            <br>
            <h2>Integrantes DarkCode Sof</h2>
            <br>
            <div class="integrantes">
              <ul class="text-light">
                <li><a href="https://github.com/FedeSosa0021" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></i></a> Federico Sosa</li>
                
                <li><a href="https://github.com/gabbylinna" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></a> Gabriela Manca</li>
                
                <li><a href="https://github.com/Guzce" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></a> Gustavo Cesaretti</li>
                
                <li><a href="https://github.com/javierbrega" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></a> Javier Brega</li>
                
                <li><a href="https://github.com/Juanisorato21" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></a> Juan Ignacio Sorato</li>
                
                <li><a href="https://github.com/seba0021" target="_blank"><i class="fa-brands fa-github fa-beat fa-lg" style="color: #fdfafa;"></i></a> Sebastían García</li>
              </ul>
            </div>
            <h2>Proyectos de DarkCode Soft</h2>
            <br>
            <h3>Billetera BitPay</h3>
            <br>
            <p>
              La billetera DarkPay es una aplicación desarrollada en Java utilizando el framework de interfaz gráfica JFrame. Esta aplicación proporciona a los usuarios una forma conveniente de administrar sus finanzas y realizar diversas transacciones en línea.
            </p>
            <p>
              <strong>Características principales:</strong>
              <ul>
                <li>Transferencia de fondos: Los usuarios pueden transferir dinero de su cuenta a otras cuentas dentro de la billetera electrónica. Esto permite realizar pagos a amigos, familiares o empresas de manera rápida y segura.</li>
                <li>Pago de servicios: La aplicación permite a los usuarios pagar servicios como facturas de servicios públicos, recargas de teléfono móvil o pagos de tarjetas de crédito. Los usuarios pueden vincular sus cuentas o tarjetas de crédito a la billetera electrónica y realizar pagos de manera conveniente.</li>
                <li>Compra de divisas: Los usuarios tienen la opción de comprar divisas extranjeras utilizando su saldo disponible en la billetera electrónica. Pueden seleccionar la divisa deseada y realizar la transacción al tipo de cambio actual.</li>
                <li>Solicitud de préstamos: La billetera electrónica ofrece la función de solicitar préstamos a través de una plataforma integrada. Los usuarios pueden proporcionar los detalles necesarios y solicitar un préstamo en línea. La aplicación evaluará la elegibilidad del usuario y proporcionará los términos y condiciones correspondientes.</li>
              </ul>
            </p>
            <p>
              Además de estas características principales, la aplicación también puede incluir funciones adicionales, como consultar el historial de transacciones, ver el saldo de la cuenta, establecer metas de ahorro y recibir notificaciones de transacciones.
            </p>
            <p>
              El uso de JFrame proporciona una interfaz gráfica intuitiva y amigable para que los usuarios interactúen con la billetera electrónica. Los componentes de JFrame, como botones, campos de texto y tablas, se utilizan para facilitar la entrada de datos y la visualización de información relevante.
            </p>
            <p>
              En resumen, esta billetera electrónica desarrollada en Java con JFrame proporciona a los usuarios una forma segura y conveniente de administrar sus finanzas, realizar transacciones y acceder a servicios financieros adicionales como préstamos.
            </p>
          
             <h3> DarkTasks Task Controller Software</h3>
             <br>
            <p>
              El Task Controller Software es una herramienta diseñada para organizar y gestionar eficientemente las tareas pendientes de una empresa. Su objetivo principal es optimizar la planificación y seguimiento de diversas actividades, como turnos de trabajo, tareas asignadas, entregas de trabajo o documentación, pagos de sueldos, entre otros aspectos relevantes para el funcionamiento diario de la organización.
            </p>
            <p>
              Este software ofrece una plataforma centralizada donde los usuarios pueden ingresar, asignar y dar seguimiento a las distintas tareas y responsabilidades de la empresa. Proporciona una visión general de todas las tareas pendientes, lo que facilita la asignación de recursos, la gestión del tiempo y la priorización de actividades.
            </p>
             <strong>Características principales:</strong>
              <ul>
                <li>Gestión de turnos: Permite programar y organizar los horarios y turnos de los empleados de manera eficiente, considerando la disponibilidad de recursos y las necesidades del negocio.</li>
                <li>Asignación de tareas: Permite asignar tareas específicas a los miembros del equipo, indicando plazos, prioridades y cualquier otra información relevante. También permite adjuntar documentos o recursos necesarios para completar las tareas.</li>
                <li>Seguimiento del progreso: Proporciona un seguimiento en tiempo real del avance de las tareas, lo que permite identificar posibles retrasos o cuellos de botella. Esto facilita la toma de decisiones oportunas y la reasignación de recursos si es necesario.</li>
              </ul>
            </p>
            <p>En resumen, el Task Controller Software es una herramienta versátil y completa que ayuda a las empresas a organizar y gestionar eficazmente las tareas pendientes. Su capacidad para centralizar la información, asignar responsabilidades, hacer seguimiento del progreso y enviar notificaciones contribuye a mejorar la productividad, eficiencia y cumplimiento de plazos en la empresa.</p>
            <br>
          </div>
    </div>
</main>

{% endblock %}